@model TeamPerfomanceTracker.ViewModels.CreateProjectViewModel
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main">
    <div class="heading">
        <h1>New Project</h1>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="spread-table">
        <table>
            <tr>
                <td>@Html.LabelFor(c => c.ProjectName, "Project Name:")</td>
                <td>@Html.TextBoxFor(c => c.ProjectName) </td>
                <td>@Html.ValidationMessageFor(c => c.ProjectName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.ClientName, "Client Name:")</td>
                <td>@Html.TextBoxFor(c => c.ClientName) </td>
                <td>@Html.ValidationMessageFor(c => c.ClientName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Budget, "Budget:")</td>
                <td>@Html.TextBoxFor(c => c.Budget) </td>
                <td>@Html.ValidationMessageFor(c => c.Budget)</td>
            </tr>
            <tr>
                <td>Project Manager:</td>
                <td>
                    <select class="select">
                        <option value="">Select Manager</option>
                        <option value="p1">Project Manager 1</option>
                        <option value="p2">Project Manager 2</option>
                        <option value="p3">Project Manager 3</option>
                        <option value="p4">Project Manager 4</option>
                    </select>
                </td>
            </tr>
            <tr >
                <td class="select">@Html.DropDownListFor(c => c.TeamName, (IEnumerable<SelectListItem>)ViewBag.Teams, "Team")</td >
                <td class="select">@Html.ValidationMessageFor(c => c.TeamName)</td>
            </tr>
        </table>
        <div class="btn-bottom">
            <input class="green-button" type="submit" value="CreateProject" />
        </div>
    </div>
    }
