@model IEnumerable<TeamPerfomanceTracker.Models.User>
@using TeamPerfomanceTracker.Models
@{
    ViewBag.Title = "ViewTeamData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Team CurrentTeam = ViewBag.CurrentTeam;
}

<h2>ViewTeamData</h2>

<h3>Memebrs</h3>
<table>
    <tr>
        <td>Name</td>
        <td>Role</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {

        if (item.TeamID.ToString() == Session["SelectedTeam"].ToString())
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.AccType</td>
            </tr>
        }
    }
</table>
<table>
    <tr>
        <td>Project</td>
        <td>Client</td>
        <td>Budget</td>
        <td>Budget Used</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>@CurrentTeam.Project.ProjectName</td>
        <td>@CurrentTeam.Project.ClientName</td>
        <td>@CurrentTeam.Project.Budget</td>
        <td>@CurrentTeam.Project.BudgetUsed</td>
    </tr>
</table>